.card {
  width: 100% !important;
  overflow: hidden !important;
}
.seg {
  margin-top: 3rem !important;
}
.App {
  background-color: #2f7ca4!important;
  min-height: 100vh;
  min-width: 100vw ;
}
a {
  text-decoration: none !important;
  color: white !important;
}
a:hover {
  color: #2F7CA4 !important;
}

@media (max-width: 600px) {
  body { 
     font-size: 70%; 
     line-height: 1.4 !important;
    }
  h1 {
    font-size: 6.5vw !important;
  }
  h2 {
    font-size: 5.5vw !important;
  }
  .seg  {
    font-size: 2.2vw !important;
  }
  .segment {
    padding: 15px !important;

  }
  .seg i {
    font-size: 20px !important;
    padding-right: 0 !important;
  } 
}
@media(min-width:768px) and (max-width: 768px) {
  .seg {
    font-size: 2.1vw !important;
  }
}
